# Ignorar directorio de node_modules de frontend
frontend/node_modules/
frontend/dist/

# Ignorar directorio de dependencias de Python del backend
backend/__pycache__/
backend/.venv/

# Ignorar archivos de entorno
.env

# Ignorar otros archivos de configuración o temporales si es necesario
*.pyc
*.pyo
*.pyd
*.log
